@import "https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap";

$white: #f0ebeb;
$blue:#222880;
$lightblue: #324f8c;
$black: #0c0c0f;
$green: #058f2e;
$transparent: #ffffff00;
$halftransparent: #f0ebeb86;
$facebook: #3b5999;
$instagram: #e1306c;
$css: #de463b;
$font: 'Titillium Web', sans-serif;

@mixin flex-center{
    display: flex; 
    justify-content: center;
}

@mixin social-transition{
    transition: .3s ease;
}

@mixin width{
    width: 100%; 
}

@mixin all{
    padding: 0px;
    margin: 0px;
    font-family: $font;
}

@mixin html{
    overflow-y: scroll;
    scroll-behavior: smooth;
}

@mixin wallpaper{
    background-image: url("../images/wallpaper.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

* {
    @include all;
  }
  
html {
    @include html;
  }
  
a {
    color: $white;
    text-decoration: none;
  }

            /*Header*/

header{
    @include flex-center;
    @include width;
    justify-content: space-evenly;
    height: 100px;
    background-color: $blue;
    position: fixed;
    z-index: 2;
    -webkit-animation: down 1s;
    animation: down 1s;
}

#logo {
	@include flex-center;
    width: 40%;
	img {
		width: 100px;
		transition: .3s ease;
		&:hover {
			transform: scale(1.05);
		}
	}
}
nav {
	width: 50%;
	ul {
		list-style: none;
		padding-top: 25px;
		display: flex;
		justify-content: space-evenly;
		li {
			a {
				text-decoration: none;
				color: $white;
				font-size: 25px;
				transition: .3s ease-in;
				padding: 10px;
				transition: all .5s;
				position: relative;
				&:after {
					transition: all .5s;
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
					width: 0%;
					content: '.';
					color: $transparent;
					background: $white;
					height: 1px;
				}
				&:before {
					transition: all .5s;
				}
				&:hover {
					&:after {
						@include width;
					}
				}
			}
		}
	}
}

            /*Home*/

#home {
    @include flex-center;
    @include wallpaper;
	@include width;
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	>div {
        @include flex-center;
        display: -webkit-box;
		display: -ms-flexbox;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: column;
		animation: zoom 1s;
	}
	h1 {
		color: $white;
		font-size: 100px;
	}
	h2 {
		color: $white;
		span {
			font-size: 30px;
		}
	}
	p {
		margin-top: 30px;
		text-transform: uppercase;
		font-size: 15px;
		a {
			padding: 15px 30px;
			background-color: $blue;
			border-radius: 30px;
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
			color: $white;
			&:hover {
				background-color: $white;
				color: $blue;
			}
		}
	}
}
.line {
	border: 0;
	height: 1px;
	background-image: linear-gradient(90deg, $blue 0%, $white 50%, $blue 100%);
	width: 70%;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}
.topl {
	border: 0;
	height: 1px;
	background-image: linear-gradient(90deg, $blue 0%, $white 50%, $blue 100%);
	width: 70%;
	margin: 0 auto;
}
.botl {
	border: 0;
	height: 1px;
	background-image: linear-gradient(90deg, $lightblue 0%, $white 50%, $lightblue 100%);
	width: 70%;
	margin: 0 auto;
	margin-top: 50px;
}

            /*About Me*/

#aboutme {
	@include width;
    background: linear-gradient(90deg, $blue 45%, $lightblue 100%);
	margin: 0 auto;
	transition: .2s ease-in;
	overflow: hidden;
	h2 {
		width: 80%;
		margin: 0px auto;
		text-align: center;
		color: $white;
		padding-top: 45px;
		font-size: 35px;
	}
}
.info {
	@include flex-center;
}
#infotext {
	width: 50%;
	margin-top: 100px;
	p {
		font-size: 25px;
		margin: 0px auto;
		text-align: center;
		color: $white;
	}
}
#infopic {
	@include flex-center;
	width: 30%;
	padding-top: 50px;
	padding-bottom: 50px;
	img {
		--s: 15px;
		--b: 2px;
		--w: 200px;
		--c: $white;
		width: 280px;
		aspect-ratio: 1;
		object-fit: cover;
		padding: calc(2*var(--s));
		--_g: var(--c) var(--b),$transparent 0 calc(100% - var(--b)),var(--c) 0;
		background: linear-gradient( var(--_g)) 50%/100% var(--_i,100%) no-repeat, linear-gradient(90deg,var(--_g)) 50%/var(--_i,100%) 100% no-repeat;
		outline: calc(var(--w)/1.5) solid $transparent;
		outline-offset: calc(var(--w)/-1 - 2*var(--s));
		transition: .4s;
		filter: grayscale(100%);
		cursor: pointer;
		&:hover {
			outline: var(--b) solid var(--c);
			outline-offset: calc(var(--s)/-2);
			--_i: calc(100% - 2*var(--s));
			filter: grayscale(0%);
		}
	}
}
.slide-right {
	opacity: 0;
	position: relative;
	-webkit-animation: right 1s;
	animation: right 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

            /*Skills*/

#skills {
    @include wallpaper;
    display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	align-items: center;
	h1 {
		width: 80%;
		margin: 0px auto;
		text-align: center;
		color: $white;
		padding-top: 35px;
		margin-bottom: 25px;
		font-size: 35px;
	}
}
.skillz {
	width: 80%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 15px;
	padding-bottom: 50px;
	p {
		font-size: 40px;
		text-align: center;
		color: $white;
	}
}
.a-skill {
	@include flex-center;
    background-color: $blue;
	color: $white;
	width: 20%;
	height: 400px;
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-ms-flex-item-align: end;
	align-self: flex-end;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-shadow: 0 0 10px $black;
	box-shadow: 0 0 10px $black;
	border-radius: 15px;
	transition: .3s ease;
	position: relative;
	&:hover {
		transform: scale(1.05);
	}
	img {
		width: 170px;
		height: 180px;
		margin-top: 30px;
	}
	p {
		@include width;
		height: -webkit-max-content;
		height: -moz-max-content;
		height: max-content;
		margin: 10px;
		margin-bottom: 50px;
		font-size: 14px;
	}
}
.card-up {
	opacity: 0;
	position: relative;
	-webkit-animation: up 1s;
	animation: up 1s;
	-webkit-animation-delay: 1s;
	animation-delay: 1.5s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.card-down {
	opacity: 0;
	position: relative;
	-webkit-animation: down 1s;
	animation: down 1s;
	-webkit-animation-delay: 1s;
	animation-delay: 1.5s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.progress {
	background: $halftransparent;
	border-radius: 100px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	bottom: 4%;
	padding: 0px 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 15px;
	width: 80%;
	h5 {
		color: $white;
		margin: 1px;
	}
}
.progress-85 {
	-webkit-box-shadow: 0 10px 40px -10px $white;
	box-shadow: 0 10px 40px -10px $white;
	border-radius: 100px;
	background-color: $green;
	height: 6px;
	width: 70%;
}
.progress-80 {
	-webkit-box-shadow: 0 10px 40px -10px $white;
	box-shadow: 0 10px 40px -10px $white;
	border-radius: 100px;
	background-color: $green;
	height: 6px;
	width: 65%;
}
.progress-65 {
	-webkit-box-shadow: 0 10px 40px -10px $white;
	box-shadow: 0 10px 40px -10px $white;
	border-radius: 100px;
	background-color: $green;
	height: 6px;
	width: 50%;
}

            /*Projects*/

#projects {
	background: linear-gradient(90deg, $blue 45%, $lightblue 100%);
	h2 {
		color: $white;
		width: 80%;
		margin: 0px auto;
		text-align: center;
		padding-top: 35px;
		margin-bottom: 25px;
		font-size: 35px;
	}
}
.projectz {
	margin: 0px auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: row;
	width: 90%;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.a-project {
	width: 40%;
	margin-top: 10px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: baseline;
	-ms-flex-pack: baseline;
	justify-content: baseline;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: $white;
	text-align: justify;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-transform: scale(0);
	transform: scale(0);
	padding-top: 15px;
	h3 {
		font-size: 25px;
	}
	img {
		@include width;
		margin: 15px;
		border-radius: 15px;
		border: 3px solid $white;
		filter: grayscale(100%);
		transition: 0.3s ease;
		&:hover {
			transform: scale(1.1);
			cursor: pointer;
			box-shadow: 0 0 10px $black;
			filter: grayscale(0%);
			border: 1px solid $halftransparent;
		}
	}
	ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		li {
			margin: 15px;
			font-size: 20px;
		}
	}
}
.zoom-in {
	-webkit-animation: zoom 1s;
	animation: zoom 1s;
	-webkit-animation-delay: 1s;
	animation-delay: 2s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

            /*Contact*/

#contact {
    @include wallpaper;
	h2 {
		color: $white;
		width: 80%;
		margin: 0px auto;
		text-align: center;
		padding-top: 35px;
		margin-bottom: 25px;
		font-size: 35px;
	}
}
.slide-left {
	position: relative;
	-webkit-animation: left 1s;
	animation: left 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 2.5s;
	animation-delay: 2.5s;
}
.a-form {
	@include flex-center;
    width: 50%;
	margin: 0px auto;
	display: -webkit-box;
	display: -ms-flexbox;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: $blue;
	color: $white;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-shadow: 0 0 10px $black;
	box-shadow: 0 0 10px $black;
	border-radius: 10px 7px 10px 7px;
	opacity: 0;
	padding: 20px;
}
form {
	margin: 40px;
	line-height: 2;
	input[type="text"] {
		border: 3px solid $black;
		border-radius: 10px;
		width: 270px;
		height: 20px;
		font-size: 15px;
		outline: none;
		padding: 2px;
		&:focus {
			border-color: $black;
		}
	}
	input[type="email"] {
		border: 3px solid $black;
		border-radius: 10px;
		width: 270px;
		height: 20px;
		font-size: 15px;
		outline: none;
		padding: 2px;
		&:focus {
			border-color: $black;
		}
	}
	input[type="tel"] {
		border: 3px solid $black;
		border-radius: 10px;
		width: 270px;
		height: 20px;
		font-size: 15px;
		outline: none;
		padding: 2px;
		&:focus {
			border-color: $black;
		}
	}
	textarea {
		border: 3px solid $black;
		border-radius: 10px;
		width: 270px;
		height: 20px;
		font-size: 15px;
		outline: none;
		padding: 2px;
		resize: none;
		height: 100px;
		font-size: 15px;
		&:focus {
			border-color: $black;
		}
	}
	input[type="submit"] {
		width: 65px;
		height: 25px;
		color: $blue;
		background-color: $white;
		border-radius: 5px;
		font-weight: 900;
		margin: 5px 10px;
		transition: .2s ease-in;
		&:hover {
			color: $white;
			background-color: $black;
			transform: scale(1.1);
		}
	}
	input[type="reset"] {
		width: 65px;
		height: 25px;
		color: $blue;
		background-color: $white;
		border-radius: 5px;
		font-weight: 900;
		margin: 5px 10px;
		transition: .2s ease-in;
		&:hover {
			color: $white;
			background-color: $black;
			transform: scale(1.1);
		}
	}
}
.text {
	ul {
		margin-top: 20px;
		list-style-type: none;
		line-height: 2;
	}
}

            /*Footer*/
            
footer {
    @include wallpaper;
    @include width;
	text-align: center;
	a {
		text-decoration: none;
	}
	.contact {
		width: 30%;
	}
}
.footerwrapper {
	@include flex-center;
	align-items: center;
	justify-content: space-between;
	justify-content: space-evenly;
	width: 70%;
	margin: 0px auto;
	h4 {
		font-size: 20px;
		color: $white;
	}
}
.wrapper {
	.icon {
		position: relative;
		background-color: $white;
		border-radius: 50%;
		margin: 10px;
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 22px;
		display: inline-block;
		align-items: center;
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
		cursor: pointer;
		color: $black;
		text-decoration: none;
		&:hover {
			span {
				text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
			}
			.tooltip {
				text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
			}
		}
	}
	.tooltip {
		position: absolute;
		top: 0;
		line-height: 1.5;
		font-size: 14px;
		background-color: $white;
		color: $white;
		padding: 5px 8px;
		border-radius: 5px;
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
		opacity: 0;
		pointer-events: none;
		&::before {
			position: absolute;
			content: "";
			height: 8px;
			width: 8px;
			background-color: $white;
			bottom: -3px;
			left: 50%;
		}
	}
	.facebook {
		&:hover {
			background-color: $facebook;
			color: $white;
			@include social-transition;
			.tooltip {
				background-color: $facebook;
				color: $white;
				@include social-transition;
				&::before {
					background-color: $facebook;
					color: $white;
					@include social-transition;
				}
			}
		}
	}
	.instagram {
		&:hover {
			background-color: $instagram;
			color: $white;
			@include social-transition;
			.tooltip {
				background-color: $instagram;
				color: $white;
				@include social-transition;
				&::before {
					background-color: $instagram;
					color: $white;
					@include social-transition;
				}
			}
		}
	}
	.sitemap {
		&:hover {
			background-color: $green;
			color: $white;
			@include social-transition;
			.tooltip {
				background-color: $green;
				color: $white;
				@include social-transition;
				&::before {
					background-color: $green;
					color: $white;
					@include social-transition;
				}
			}
		}
	}
	.css {
		&:hover {
			background-color: $css;
			color: $white;
			@include social-transition;
			.tooltip {
				background-color: $css;
				color: $white;
				@include social-transition;
				&::before {
					background-color: $css;
					color: $white;
					@include social-transition;
				}
			}
		}
	}
	.scss {
		&:hover {
			background-color: $black;
			color: $white;
			@include social-transition;
			.tooltip {
				background-color: $black;
				color: $white;
				@include social-transition;
				&::before {
					background-color: $black;
					color: $white;
					@include social-transition;
				}
			}
		}
	}
}

            /*Scrollbar*/

&::-webkit-scrollbar {
	width: 5px;
}
&::-webkit-scrollbar-track {
	background-color: $black;
}
&::-webkit-scrollbar-thumb {
	background: $lightblue;
	&:hover {
		background: $blue;
	}
}

           /*Animations*/


@-webkit-keyframes down {
	from {
		top: -200px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@keyframes down {
	from {
		top: -200px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@-webkit-keyframes up {
	from {
		bottom: -200px;
		opacity: 0;
	}
	to {
		bottom: 0;
		opacity: 1;
	}
}
@keyframes up {
	from {
		bottom: -200px;
		opacity: 0;
	}
	to {
		bottom: 0;
		opacity: 1;
	}
}
@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	to {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes zoom {
	from {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	to {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@-webkit-keyframes zoomup {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	to {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
}
@keyframes zoomup {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	to {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
}
@-webkit-keyframes right {
	from {
		right: -300px;
		opacity: 0;
	}
	to {
		right: 0;
		opacity: 1;
	}
}
@keyframes right {
	from {
		right: -300px;
		opacity: 0;
	}
	to {
		right: 0;
		opacity: 1;
	}
}
@-webkit-keyframes left {
	from {
		left: -300px;
		opacity: 0;
	}
	to {
		left: 0;
		opacity: 1;
	}
}
@keyframes left {
	from {
		left: -300px;
		opacity: 0;
	}
	to {
		left: 0;
		opacity: 1;
	}
}

           /*Responsive*/

@media only screen and (max-width: 1440px) {
	nav {
		ul {
			li {
				a {
					font-size: 25px;
				}
			}
		}
	}
	#home {
		height: 800px;
	}
	#infotext {
		margin-left: 100px;
		p {
			font-size: 20px;
		}
	}
	.a-skill {
		img {
			width: 140px;
			height: 140px;
			margin-top: 70px;
		}
		p {
			font-size: 11px;
		}
	}
}

@media only screen and (max-width: 1024px) {
	nav {
		ul {
			margin-top: 10px;
			li {
				a {
					font-size: 18px;
				}
			}
		}
	}
	.homepage {
		height: 70vh;
	}
	#infotext {
		margin-top: 50px;
	}
	#skills {
		padding-bottom: 0px;
	}
	.skillz {
		width: 80%;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}
	.a-skill {
		width: 35%;
		margin-bottom: 35px ;
	}
	.projectz {
		flex-direction: column;
		flex-wrap: wrap;
		img {
			width: 90%;
		}
	}
	.a-project {
		width: 90%;
	}
	.a-form {
		width: 60%;
	}
}

@media only screen and (max-width: 890px) {
	header {
		#logo {
			margin: 5px auto;
		}
		nav {
			@include flex-center;
            @include width;
			display: -webkit-box;
			display: -ms-flexbox;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
		}
	}
	#logo {
		img {
			width: 70px;
			height: 70px;
			margin-top: 10px;
		}
	}
	nav {
		ul {
			li {
				margin-left: 30px;
				a {
					font-size: 17px;
					margin: 5px auto;
				}
			}
		}
	}
	.info {
		flex-direction: column;
	}
	#infotext {
		width: 40%;
		width: 80%;
		margin: 0 auto;
	}
	#infopic {
		@include width;
		margin: 0 auto;
		img {
			width: 300px;
		}
	}
}

@media only screen and (max-width : 768px) {
	.card-up, .card-down{
	  -webkit-animation: none !important;
		  -moz-animation: none !important;
		  -o-animation: none !important;
		  -ms-animation: none !important;
		  animation: none !important;
	  opacity:1;
	}
  }

@media only screen and (max-width: 740px) {
	#home {
		h1 {
			font-size: 65px;
		}
	}
	nav {
		ul {
			li {
				a {
					font-size: 13px;
				}
			}
		}
	}
	.a-skill {
		width: 40%;
		img {
			width: 150px;
			height: 150px;
		}
	}
	.a-form {
		width: 65%;
	}
	.footerwrapper {
		width: 80%;
	}
}
@media only screen and (max-width: 600px) {
	header {
		position: sticky;
		flex-direction: column;
		height: 150px;
	}
	#logo {
		img {
			width: 60px;
			height: 60px;
			margin: 0 auto;
		}
	}
	nav {
		ul {
			padding-top: 0px;
			li {
				a {
					font-size: 12px;
				}
				margin-left: 10px;
			}
		}
	}
	#home {
		height: 400px;
		h1 {
			font-size: 50px;
		}
		h2 {
			font-size: 20px;
			span {
				font-size: 20px;
			}
		}
		p {
			font-size: 10px;
		}
	}
	#infopic {
		img {
			width: 200px;
		}
	}
	.a-skill {
		img {
			width: 100px;
			height: 100px;
		}
	}
	.text {
		font-size: 15px;
	}
	.a-form {
		width: 60%;
	}
}
@media only screen and (max-width: 425px) {
	header {
		height: 130px;
	}
	#logo {
		img {
			width: 50px;
			height: 50px;
		}
	}
	nav {
		ul {
			li {
				a {
					font-size: 9px;
				}
				margin-left: 0px;
			}
		}
	}
	#home {
		h1 {
			font-size: 40px;
		}
		h2 {
			font-size: 15px;
			span {
				font-size: 15px;
			}
		}
	}
	.skillz {
        @include width;
        display: flex;
	}
	.a-skill {
		width: 80%;
		display: flex;
		align-content: center;
		height: auto;
		padding: 20px;
		p {
			@include width;
			margin: 20px 20px 45px 20px;
		}
		img {
			width: 130px;
			height: 130px;
		}
	}
	#skills {
		h1 {
			font-size: 28px;
		}
	}
	#projects {
		h2 {
			font-size: 28px;
		}
	}
	#aboutme {
		h2 {
			font-size: 28px;
		}
	}
	.text {
		ul {
			li {
				margin-bottom: 20px;
				font-size: 15px;
			}
		}
	}
	.a-form {
		width: 75%;
	}
	form {
		margin-top: 10px;
	}
	footer {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
@media only screen and (max-width: 375px) {
	.a-skill {
		height: auto;
	}
	nav {
		ul {
			font-size: 20px;
		}
	}
	form {
		input[type="text"] {
			height: 20px;
			font-size: 16px;
		}
		textarea {
			height: 100px;
			font-size: 13px;
		}
		input[type="submit"] {
			width: 65px;
			height: 25px;
		}
	}
	input[type="email"] {
		height: 20px;
		font-size: 16px;
	}
	input[type="number"] {
		height: 20px;
		font-size: 16px;
	}
	textarea {
		height: 20px;
		font-size: 16px;
	}
	input[type="reset"] {
		width: 65px;
		height: 25px;
	}
	.info {
		div {
			ul {
				font-size: 15px;
			}
		}
	}
}
@media only screen and (max-width: 320px) {
	.info {
		div {
			p {
				line-height: 1.4;
				font-size: 14px;
			}
		}
	}
	.text {
		font-size: 14px;
	}
	form {
		input[type="text"] {
			width: 220px;
		}
		input[type="email"] {
			width: 220px;
		}
		input[type="number"] {
			width: 220px;
		}
		textarea {
			width: 220px;
		}
	}
}