@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Titillium Web', sans-serif;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

a {
  color: #f0ebeb;
  text-decoration: none;
}

            /*Header*/

header {
	height: 100px;
	width: 100%;
	background-color: #222880;
	position: fixed;
  display:flex;
  justify-content: center;
  justify-content: space-evenly;
	z-index: 2;
  -webkit-animation: down 1s;
  animation: down 1s;
}

#logo {
  width: 40%;
  display:flex;
  justify-content: center;
}

#logo img{
  width:100px;
  transition: .3s ease;
}

#logo img:hover{
  transform: scale(1.05);
}

nav{
  width:50%;
}
nav ul{
	list-style:none;
	padding-top: 25px;
  display:flex;
  justify-content: space-evenly;
}


nav ul li a{
	text-decoration: none;
	color: #f0ebeb;
	font-size: 25px;
  transition: .3s ease-in;
  padding: 10px;
  transition: all .5s;
  position: relative;
}

nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: #ffffff00;
  background: #f0ebeb;
  height: 1px;
}
nav ul li a:hover:after {
  width: 100%;
}





            /*Home*/


#home{
  background-image: url("../images/wallpaper.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#home > div{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: column;
  animation: zoom 1s;
}

#home h1{
  color: #f0ebeb;
  font-size: 100px;
}

#home h2 {
  color: #f0ebeb;
}


#home h2 span{
  font-size: 30px;
}

#home p {
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 15px
}

#home p a {
  padding: 15px 30px;
  background-color: #222880;
  border-radius: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #f0ebeb;
}

#home p a:hover {
  background-color: #f0ebeb;
  color:#222880;
  
}

.line{
    border: 0;
    height: 1px;
    background-image:  linear-gradient(90deg, #222880 0%, #f0ebeb 50%, #222880 100%);
    width:70%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.topl{
  border: 0;
  height: 1px;
  background-image:  linear-gradient(90deg, #222880 0%, #f0ebeb 50%, #222880 100%);
  width:70%;
  margin: 0 auto;
}

.botl{
  border: 0;
  height: 1px;
  background-image:  linear-gradient(90deg, #324f8c 0%, #f0ebeb 50%, #324f8c 100%);
  width:70%;
  margin: 0 auto;
  margin-top: 50px;
}


            /*About Me*/

#aboutme{
  background: linear-gradient(90deg, #222880 45%, #324f8c 100%);
  width:100%; 
  margin:0 auto;
  transition: .2s ease-in;
  overflow:hidden;
}


#aboutme h2{
  width: 80%;
  margin: 0px auto;
  text-align: center;
  color: #f0ebeb;
  padding-top: 45px;

  font-size: 35px;
}

.info{
  display:flex;
  justify-content: center;
}

#infotext{
  width:50%;
  margin-top: 100px;
}

#infotext p{
  font-size: 25px;
  margin: 0px auto;
  text-align: center;
  color:#f0ebeb;
}


#infopic{
  display:flex;
  justify-content: center;
  width:30%;
  padding-top: 50px;
  padding-bottom: 50px;
}

#infopic img {
  --s: 15px;  /* size of the frame */
  --b: 2px;   /* border thickness */
  --w: 200px; /* width of the image */
  --c: #f0ebeb;
  width: 280px;
  aspect-ratio: 1;
  object-fit: cover;
  padding: calc(2*var(--s));
  --_g: var(--c) var(--b),#ffffff00 0 calc(100% - var(--b)),var(--c) 0;
  background:
    linear-gradient(      var(--_g)) 50%/100% var(--_i,100%) no-repeat,
    linear-gradient(90deg,var(--_g)) 50%/var(--_i,100%) 100% no-repeat;
  outline: calc(var(--w)/1.5) solid #ffffff00;
  outline-offset: calc(var(--w)/-1 - 2*var(--s));
  transition: .4s;
  filter:grayscale(100%);
  cursor: pointer;
}

#infopic img:hover {
  outline: var(--b) solid var(--c);
  outline-offset: calc(var(--s)/-2);
  --_i: calc(100% - 2*var(--s));
  filter:grayscale(0%);
}


.slide-right {
  opacity: 0;
  position: relative;
  -webkit-animation: right 1s;
  animation: right 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}


            /*Skills*/


#skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/wallpaper.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#skills h1{
  width: 80%;
  margin: 0px auto;
  text-align: center;
  color: #f0ebeb;
  padding-top: 35px;
  margin-bottom: 25px;
  font-size: 35px;
}


.skillz {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 15px;
  padding-bottom: 50px;
}

.skillz p {
  font-size: 40px;
  text-align: center;
  color:#f0ebeb;
}

.a-skill {
  background-color: #222880;
  color: #f0ebeb;
  width: 20%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-shadow: 0 0 10px #0c0c0f;
  box-shadow: 0 0 10px #0c0c0f;
  border-radius: 15px;
  transition: .3s ease;
  position:relative;
}

.a-skill:hover{
  transform: scale(1.05);
}

.a-skill img {
  width: 170px;
  height: 180px;
  margin-top: 30px;
}

.a-skill p {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 10px;
  margin-bottom: 50px;
  font-size: 14px;
}

.card-up {
  opacity: 0;
  position: relative;
  -webkit-animation: up 1s;
  animation: up 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.card-down {
  opacity: 0;
  position: relative;
  -webkit-animation: down 1s;
  animation: down 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.progress {
  background: #f0ebeb86;
  border-radius: 100px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 4%;
  padding: 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15px;
  width: 80%;
}

.progress h5{
  color:#f0ebeb;
  margin: 1px;
}


.progress-85 {
  -webkit-box-shadow: 0 10px 40px -10px #f0ebeb;
  box-shadow: 0 10px 40px -10px #f0ebeb;
  border-radius: 100px;
  background-color: #058f2e;
  height: 6px;
  width: 70%;
}

.progress-80 {
  -webkit-box-shadow: 0 10px 40px -10px #f0ebeb;
  box-shadow: 0 10px 40px -10px #f0ebeb;
  border-radius: 100px;
  background-color: #058f2e;
  height: 6px;
  width: 65%;
}

.progress-65 {
  -webkit-box-shadow: 0 10px 40px -10px #f0ebeb;
  box-shadow: 0 10px 40px -10px #f0ebeb;
  border-radius: 100px;
  background-color: #058f2e;
  height: 6px;
  width: 50%;
}



            /*Projects*/


#projects{
  background:linear-gradient(90deg, #222880 45%, #324f8c 100%);
}

#projects h2{
  color:#f0ebeb;
  width: 80%;
  margin: 0px auto;
  text-align: center;
  padding-top: 35px;
  margin-bottom: 25px;
  font-size: 35px;
}

.projectz {
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: row;
  width: 90%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.a-project {
  width: 40%;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: baseline;
  -ms-flex-pack: baseline;
  justify-content: baseline;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #f0ebeb;
  text-align: justify;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-transform: scale(0);
  transform: scale(0);
  padding-top: 15px;
}

.a-project h3{
  font-size: 25px;
}

.a-project img {
  width: 100%;
  margin: 15px;
  border-radius: 15px;
  border: 3px solid #f0ebeb;
  filter: grayscale(100%);
  transition: 0.3s ease;
}

.a-project img:hover{
	transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0 0 10px #0c0c0f;
  filter:grayscale(0%);
  border: 1px solid #f0ebeb86;
}

.a-project ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.a-project ul li {
  margin: 15px;
  font-size: 20px;
}

.zoom-in {
  -webkit-animation: zoom 1s;
  animation: zoom 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}


            /*Contact*/


#contact {
  background-image: url("../images/wallpaper.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#contact h2{
  color:#f0ebeb;
  width: 80%;
  margin: 0px auto;
  text-align: center;
  padding-top: 35px;
  margin-bottom: 25px;
  font-size: 35px;
}

.slide-left {
  position: relative;
  -webkit-animation: left 1s;
  animation: left 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.a-form {
  width: 50%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #222880;
  color: #f0ebeb;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-shadow: 0 0 10px #0c0c0f;
  box-shadow: 0 0 10px #0c0c0f;
  border-radius: 10px 7px 10px 7px;
  opacity: 0;
  padding: 20px;
}

form {
  margin: 40px;
  line-height: 2;
}

form input[type="text"], form input[type="email"], form input[type="tel"], form textarea {
  border: 3px solid #0c0c0f;
  border-radius: 10px;
  width: 270px;
  height: 20px;
  font-size: 15px;
  outline: none;
  padding: 2px;
}

form input[type="text"]:focus, form input[type="email"]:focus, form input[type="tel"]:focus, form textarea:focus {
  border-color: #0c0c0f;
}

form textarea {
  resize: none;
  height: 100px;
  font-size: 15px;
}

form input[type="submit"], form input[type="reset"] {
  width: 65px;
  height: 25px;
  color: #222880;
  background-color: #f0ebeb;
  border-radius: 5px;
  font-weight: 900;
  margin: 5px 10px;
  transition: .2s ease-in;
}

form input[type="submit"]:hover, form input[type="reset"]:hover {
  color: #f0ebeb;
  background-color: #0c0c0f;
  transform: scale(1.1);
}

.text ul {
  margin-top: 20px;
  list-style-type: none;
  line-height: 2;
}


            /*Footer*/


footer{
	width: 100%;
	text-align: center;
	background-image: url("../images/wallpaper.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.footerwrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
	justify-content: space-evenly;
	justify-content: center; 
	width:70%;
	margin:0px auto;
}

.footerwrapper h4{
	font-size: 20px;
	color: #f0ebeb;
}

footer a{
	text-decoration: none;
}

footer .contact{
	width: 30%;
}

.wrapper .icon{
  position: relative;
  background-color: #f0ebeb;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  display: inline-block;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #0c0c0f;
  text-decoration: none;
}
.wrapper .tooltip {
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 14px;
  background-color: #f0ebeb;
  color: #f0ebeb;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
}
.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #f0ebeb;
  bottom: -3px;
  left: 50%;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #f0ebeb;
  transition: .3s ease;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #f0ebeb;
  transition: .3s ease;
}
.wrapper .sitemap:hover,
.wrapper .sitemap:hover .tooltip,
.wrapper .sitemap:hover .tooltip::before {
  background-color: #058f2e;
  color: #f0ebeb;
  transition: .3s ease;
}
.wrapper .css:hover,
.wrapper .css:hover .tooltip,
.wrapper .css:hover .tooltip::before {
  background-color: #de463b;
  color: #f0ebeb;
  transition: .3s ease;
}

.wrapper .scss:hover,
.wrapper .scss:hover .tooltip,
.wrapper .scss:hover .tooltip::before {
  background-color: #0c0c0f;
  color: #f0ebeb;
  transition: .3s ease;
}


            /*Animations*/


@-webkit-keyframes down {
  from {
    top: -200px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes down {
  from {
    top: -200px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes up {
  from {
    bottom: -200px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes up {
  from {
    bottom: -200px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes zoomup {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes zoomup {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-webkit-keyframes right {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes right {
  from {
    right: -300px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

@-webkit-keyframes left {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes left {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}


            /*Scrollbar*/


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #0c0c0f;
}

::-webkit-scrollbar-thumb {
  background: #324f8c;
}

::-webkit-scrollbar-thumb:hover {
  background: #222880;
}



           /*Responsive*/


@media only screen and (max-width: 1440px){

  nav ul li a{
      font-size: 25px;
  }

  #home{
      height: 800px;
  }

  #infotext{
    margin-left: 100px;
  }

  #infotext p{
    font-size:20px;

}

  .a-skill img{
      width:140px;
      height:140px;
      margin-top: 70px;
    }

  .a-skill p{
    font-size: 11px;
  }
}

@media only screen and (max-width: 1024px){
    nav ul li a{
    font-size: 18px;
}

  .homepage{
      height:70vh;
  }

  #infotext {
    margin-top: 50px;
  }
  

  #skills{
      padding-bottom: 0px;
  }

  .skillz{
      width:80%;
      justify-content: space-evenly;
      flex-wrap:wrap;
  }

  .a-skill{
      width:35%;
      margin-bottom:35px;
  }

  .projectz{
      flex-direction: column;
      flex-wrap: wrap;

  }

  .projectz img{
      width:90%;
  }
  .a-project{
      width:90%;
      
  }

  .a-form{
      width:60%;
  }
}

@media only screen and (max-width: 890px){
  header #logo {
      margin: 5px auto;
  }

  #logo img{
      width:70px;
      height: 70px;
      margin-top:10px;
  }

  header nav {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
  }

  nav ul li{
      margin-left: 30px;
  }

  nav ul li a{
      font-size: 17px;
      margin: 5px auto;
  }

  .info{
    flex-direction: column;
  }
  #infotext{
    width:40%;
  }
  #infopic{
    width:100%;
    margin:0 auto;
  }

  #infopic img{
    width: 300px
  }


  #infotext{
    width:80%;
    margin: 0 auto;
  }

}

@media only screen and (max-width : 768px) {
  .card-up, .card-down{
    -webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
    opacity:1;
  }
}

  @media only screen and (max-width: 740px){
  
  #home h1{
      font-size: 65px;
  }

  nav ul li a{
      font-size: 13px;
  }

  .a-skill{
      width:40%;
  }

  .a-skill img{
      width:150px;
      height:150px;
  }


  .a-form{
      width:65%;
  }

  .footerwrapper{
    width:80%;
  }
}

 

@media only screen and (max-width: 600px){
  header{
      position: sticky;
      flex-direction: column;
      height:150px;
  }
  #logo img{
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

  nav ul{
    padding-top: 0px;
  }

  nav ul li a{
      font-size: 12px;
  }

  nav ul li{
      margin-left: 10px;
  }



  #home {
      height: 400px;
  }

  #home h1{
      font-size: 50px;
  }

  #home h2{
      font-size: 20px;
  }

  #home h2 span{
      font-size: 20px;
  }

  #home p{
      font-size: 10px;
  }

  #infopic img{
    width: 200px
  }

  .a-skill img{
      width:100px;
      height:100px;
  }

  .text{
      font-size:15px;
  }

  .a-form{
      width:60%;
  }
}

@media only screen and (max-width: 425px){
  header{
    height:130px;
  }
  
  #logo img{
    width: 50px;
    height: 50px;
}

  nav ul li a{
      font-size: 9px;
  }

  nav ul li{
      margin-left: 0px;
    }

  #home h1{
      font-size: 40px;
  }

  #home h2{
      font-size: 15px;
  }

  #home h2 span{
      font-size: 15px;
  }




  .skillz {
      display:flex;
      width:100%;
  }

  .a-skill{
      width:80%;
      display: flex;
      align-content: center;
      height:auto;
      padding: 20px;
  }

  .a-skill p{
      width:100%;
      margin:20px 20px 45px 20px;
  }

  .a-skill img{
      width:130px;
      height:130px;
  }


  #skills h1, #projects h2, #aboutme h2{
      font-size:28px;
  }

  .text ul li{
        margin-bottom: 20px;
        font-size:15px;
  }

  .a-form{
      width:75%;
  }

  form{
      margin-top:10px;
  }

  footer{
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

}

@media only screen and (max-width: 375px){

  .a-skill{
      height:auto;
  }

  nav ul{
      font-size:20px;
  }

  form input[type="text"],input[type="email"],input[type="number"], textarea{
      height:20px;
      font-size:16px;
  }

  form textarea{
      height:100px;
      font-size:13px;
  }

  form input[type="submit"], input[type="reset"]{
      width:65px;
      height:25px;
  }

  .info div ul{
      font-size:15px;
  }
}

@media only screen and (max-width: 320px){
  .info div p{
      line-height: 1.4;
      font-size:14px;
  }

  .text{
      font-size:14px;
  }

  form input[type="text"], form input[type="email"],form input[type="number"],form textarea{
      width:220px;
  }
}